[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docker = "*"
kubernetes = "*"
common = "*"
swarm-sdk = {editable = true, path = "../swarmopt-sdk-python"}

[dev-packages]

[requires]
python_version = "3.12"
