[[source]]
url = "https://artifactory.catbrower.com:9443/artifactory/api/pypi/pypi-virtual/simple"
verify_ssl = false
name = "artifactory"

[packages]

[dev-packages]

[requires]
python_version = "3.12"
