[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docker = "*"
workflow_montecarlo = {file = "functions/montecarlo"}
workflow_common = {file = "common"}
kubernetes = "*"

[dev-packages]

[requires]
python_version = "3.12"
